/*Reset inicial*/
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    background: rgb(54, 77, 204);
    background: linear-gradient(176deg, rgba(54, 77, 204, 1) 0%, rgba(19, 35, 124,1) 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

.perfil{
    text-align: center;
    margin-top: 20px;
}
.avatar{
    width: 80px;
    border-radius: 50px;
    justify-content: center;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2{
    font-size: 16px;
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 25px 0;
}

.social img{
    width: 33px;
    justify-content: center;
}

.lista-Links{
    list-style: none;
}

.lista-Links li{
    margin: 10px 20px;
}

.lista-Links li a{
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(54, 77, 204);
    font-weight: bold;
}

.lista-Links li a span{
    display: block;
    color: grey;
    margin-top: 10px;
}
